//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.9 Beta-5
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Sat 11 11 20:58:38 2023

IO_LOC "netrmii_txd[1]" E14;
IO_PORT "netrmii_txd[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "netrmii_txd[0]" D16;
IO_PORT "netrmii_txd[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "netrmii_txen" E16;
IO_PORT "netrmii_txen" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "cam_port_cmos_pwdn" C10;
IO_PORT "cam_port_cmos_pwdn" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cam_port_cmos_rst_n" L13;
IO_PORT "cam_port_cmos_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "cam_port_cmos_xclk" G12;
IO_PORT "cam_port_cmos_xclk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[5]" L16;
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[4]" L14;
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[3]" N14;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[2]" N16;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[1]" A13;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[0]" C13;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "phyrst" F10;
IO_PORT "phyrst" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "sda_mdio" F16;
IO_PORT "sda_mdio" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 OPEN_DRAIN=ON BANK_VCCIO=3.3;
IO_LOC "scl_mdc" F14;
IO_PORT "scl_mdc" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "netrmii_clk50m" A9;
IO_PORT "netrmii_clk50m" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cam_port_cmos_db[7]" J14;
IO_PORT "cam_port_cmos_db[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cam_port_cmos_db[6]" J16;
IO_PORT "cam_port_cmos_db[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cam_port_cmos_db[5]" M14;
IO_PORT "cam_port_cmos_db[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cam_port_cmos_db[4]" M15;
IO_PORT "cam_port_cmos_db[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cam_port_cmos_db[3]" R11;
IO_PORT "cam_port_cmos_db[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cam_port_cmos_db[2]" P11;
IO_PORT "cam_port_cmos_db[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cam_port_cmos_db[1]" T11;
IO_PORT "cam_port_cmos_db[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cam_port_cmos_db[0]" T12;
IO_PORT "cam_port_cmos_db[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cam_port_cmos_pclk" F13;
IO_PORT "cam_port_cmos_pclk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cam_port_cmos_href" G14;
IO_PORT "cam_port_cmos_href" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "cam_port_cmos_vsync" G15;
IO_PORT "cam_port_cmos_vsync" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "lut_pll69_en" T5;
IO_PORT "lut_pll69_en" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "rst_n" C7;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk" H11;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "netrmii_rxd[0]" F15;
IO_PORT "netrmii_rxd[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "netrmii_rxd[1]" C9;
IO_PORT "netrmii_rxd[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "netrmii_rx_crs" M6;
IO_PORT "netrmii_rx_crs" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
